<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">
        <a class="logo__link header__logo{% if page.url == '/' %} active-link{% endif %}" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo %}
            <img class="logo__image" draggable="false" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
