{% if site.data.settings.publications.enable == true %}
<div class="container">
  <section id="publications" class="section animate">
    <div class="row">
      <div class="col col-12">
        {% if site.data.settings.publications.publications__title != '' or site.data.settings.publications.publications__description != '' %}
          <div class="section__info">
            {% if site.data.settings.publications.publications__title != '' %}
              <h2 class="section__title">{{ site.data.settings.publications.publications__title }}</h2>
            {% endif %}
            <div class="section__signals" aria-label="Publication signals">
              {% for signal in site.data.settings.publications.publications__signals %}
              <span>{{ signal }}</span>
              {% endfor %}
            </div>
          </div>
        {% endif %}

          <div class="publication-groups">
            <ol id="publications-list" class="publications-list list-reset"></ol>
          </div>

      </div>
    </div>
  </section>
</div>
{% endif %}
