{% if site.data.settings.logos.enable == true %}
<!-- begin logos -->
<div class="container">
  <section id="collaborators" class="section logos animate">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <h2 class="section__small__title">{{ site.data.settings.logos.logos__title }}</h2>
        </div>

        <div class="logos__marquee" aria-label="{{ site.data.settings.logos.logos__title }}" tabindex="0">
          <div class="logos__list">
            {% for logo in site.data.settings.logo__items %}
            <div class="logos__item">
              <a href="{{ logo.link }}" class="logos__link" rel="noopener">
                <img src="{{ logo.image }}" draggable="false" alt="{{ logo.name }}" class="logos__image">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!-- end logos -->
{% endif %}
